In [1]:
! pip install tensorflow

Requirement already satisfied: tensorflow in d:\ananconda\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0 in d:\ananconda\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: h5py>=2.9.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.7.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.4.0)
Requirement already satisfied: packaging in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (21.3)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: numpy>=1.20 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.5)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.30.0)
Requirement already satisfied: flatbuffers>=2.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (23.1.21)
Requirement already satisfied: typing-extensions>=3.6.6 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.3.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.2)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.6)
Requirement already satisfied: astunparse>=1.6.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.6.3)
Requirement already satisfied: six>=1.12.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.51.1)
Requirement already satisfied: google-pasta>=0.1.1 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.2.0)
Requirement already satisfied: wrapt>=1.11.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.2.0)
Requirement already satisfied: absl-py>=1.0.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.4.0)
Requirement already satisfied: libclang>=13.0.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (15.0.6.1)
Requirement already satisfied: opt-einsum>=2.3.2 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.3.0)
Requirement already satisfied: setuptools in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (63.4.1)
Requirement already satisfied: keras<2.12,>=2.11.0 in d:\ananconda\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in d:\ananconda\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.15.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.3)
Requirement already satisfied: markdown>=2.6.8 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.28.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in d:\ananconda\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.6.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\ananconda\lib\site-packages (from packaging->tensorflow-intel==2.11.0->tensorflow) (3.0.9)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\aakas\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\ananconda\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in d:\ananconda\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\ananconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\ananconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\ananconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in d:\ananconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in d:\ananconda\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in d:\ananconda\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.2.2)

In [2]:
import tensorflow as tf
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [3]:
from keras.models import Sequential
from keras.layers import Dense

from keras.callbacks import EarlyStopping

In [4]:
data = pd.read_csv('../dataset/dataset_bank.csv')
data.sample(8)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4623,4624,15699195,Shen,709,France,Female,24,3,110949.41,1,1,1,168515.61,0
3997,3998,15690620,Olisaemeka,665,France,Male,39,10,46323.57,1,1,0,136812.02,0
8474,8475,15698816,Tuan,721,Spain,Female,33,4,72535.45,1,1,1,103931.49,0
3679,3680,15593897,Carr,650,Spain,Male,25,7,160599.06,2,1,1,28391.52,0
7733,7734,15596013,Akhtar,694,Germany,Female,58,1,143212.22,1,0,0,102628.56,1
4871,4872,15575858,Bergamaschi,763,France,Male,40,3,0.00,2,1,0,134281.11,0
54,55,15569590,Yoo,601,Germany,Male,42,1,98495.72,1,1,0,40014.76,1
8952,8953,15713975,Gibson,565,Germany,Female,47,10,139756.12,1,1,0,165849.49,1

In [5]:
data.shape

(10000, 14)

In [6]:
to_drop = ['RowNumber','CustomerId','Surname']

data.drop(to_drop, axis = 1, inplace = True)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
to_encode = [ 'Geography','Gender']

geo_encode = LabelEncoder()
gender_encode = LabelEncoder()

In [9]:
data['Geography'] = geo_encode.fit_transform(data['Geography'])
data['Gender'] = gender_encode.fit_transform(data['Gender'])

In [10]:
y = data['Exited']
X = data.drop(['Exited'], axis = 1)

In [11]:
X.sample(7)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
2548,524,0,1,50,4,0.00,2,1,1,31840.59
8623,430,1,0,38,8,153058.64,1,1,0,99377.27
2511,679,1,0,34,7,121063.85,1,1,0,56984.58
5706,682,2,0,48,9,101198.01,1,1,1,49732.90
2646,425,2,0,39,5,0.00,2,1,0,140941.47
727,711,0,0,25,7,0.00,3,1,1,9679.28
1409,444,0,0,40,5,84350.07,1,1,0,143835.76

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.2,random_state= 666, stratify= y)

In [13]:
X.shape

(10000, 10)

In [14]:
model = Sequential()

# Add input layer
model.add(Dense(input_dim = 10, units = 8 , activation = 'relu' ))

# Add hidden layer
model.add(Dense(units = 8 , activation= 'relu'))
model.add(Dense(units = 4 , activation= 'relu'))

# Add Output Layer
model.add(Dense(units = 1, activation = 'sigmoid'))  # binary classification class with 0 and 1 
                                                     # softmax classification if class > 2 
model.compile(loss = 'binary_crossentropy', optimizer = 'sgd', metrics=['accuracy'])

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 88

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 4)                 36

 dense_3 (Dense)             (None, 1)                 5

=================================================================
Total params: 201
Trainable params: 201
Non-trainable params: 0
_________________________________________________________________

In [16]:
es = EarlyStopping(monitor= 'val_loss',patience = 10)

In [17]:
model.fit(X_train, y_train ,epochs= 100, validation_split= 0.2, callbacks= [es,])

Epoch 1/100
200/200 [==============================] - 1s 2ms/step - loss: 4665.5947 - accuracy: 0.7902 - val_loss: 0.5818 - val_accuracy: 0.7944
Epoch 2/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5560 - accuracy: 0.7967 - val_loss: 0.5394 - val_accuracy: 0.7944
Epoch 3/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5276 - accuracy: 0.7967 - val_loss: 0.5221 - val_accuracy: 0.7944
Epoch 4/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5156 - accuracy: 0.7967 - val_loss: 0.5146 - val_accuracy: 0.7944
Epoch 5/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5101 - accuracy: 0.7967 - val_loss: 0.5112 - val_accuracy: 0.7944
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5075 - accuracy: 0.7967 - val_loss: 0.5095 - val_accuracy: 0.7944
Epoch 7/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5062 - accuracy: 0.7967 - val_loss: 0.5088 - val_accuracy: 0.7944
Epoch 8/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5056 - accuracy: 0.7967 - val_loss: 0.5084 - val_accuracy: 0.7944
Epoch 9/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5053 - accuracy: 0.7967 - val_loss: 0.5082 - val_accuracy: 0.7944
Epoch 10/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5051 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 11/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5050 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 12/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5050 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 13/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5050 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 14/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5050 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 15/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 16/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 17/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 18/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 19/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 20/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 21/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 22/100
200/200 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944
Epoch 23/100
200/200 [==============================] - 0s 2ms/step - loss: 0.5049 - accuracy: 0.7967 - val_loss: 0.5081 - val_accuracy: 0.7944

In [18]:
model.save('model.h5')

In [19]:
y_pred  = model.predict(X_test)

63/63 [==============================] - 0s 1ms/step

In [20]:
y_pred

array([[0.20356835],
       [0.20356835],
       [0.20356835],
       ...,
       [0.20356835],
       [0.20356835],
       [0.20356835]], dtype=float32)

In [ ]:
y_predict_class = model.predict